
@import 'colors';

//--------
// ACTORS
//--------

.cell-actor-default {
    background-color: $blue;
    color: $yellow;
}

.cell-actor-animal {
    background-color: $brown;
    color: $white;
}

.cell-actor-avian {
    background-color: $sky-blue;
    color: $white;
}

.cell-actor-player {
    background-color: $green;
    color: $white;
}

.cell-actor-monster {
    background-color: $purple;
    color: $white;
};

.cell-actor-summoner {
    background-color: $yellow;
    color: $black;
};

.cell-actor-winter {
    background-color: darken($snow-white, 10%);
    color: $blue;
};

.cell-actor-spirit {
    background-color: $purple;
    color: $white;
};

.cell-actor-shopkeeper {
    background-color: $black;
    color: $white;
}

.cell-actor-trainer {
    background-color: $red;
    color: $white;
}

.cell-actor-human {
    background-color: $blue;
    color: $yellow;
}

.cell-actor-dwarf {
    background-color: $blue;
    color: $yellow;
}

.cell-actor-wolfclan {
    background-color: $red;
    color: $black;
}

.cell-actor-catfolk {
    background-color: $yellow;
    color: $brown;
}

.cell-actor-bearfolk {
    background-color: $cyan;
    color: $brown;
}

.cell-actor-dogfolk {
    background-color: $azure;
    color: $brown;
}

.cell-actor-undead {
    background-color: $black;
    color: $white;
}

.cell-actor-goblin {
    background-color: darken($yellow, 20%);
    color: $blue;
}

.cell-actor-air {
    background-color: $silver;
    color: $blue;
}

.cell-actor-fire {
    background-color: $tangerine;
    color: $red;
}

.cell-actor-forcefield {
    background-color: $tangerine;
    color: lighten($blue, 10%);
}

.cell-actor-wildling {
    background-color: $wild-pink;
    color: $brown;
}

