
@import 'colors';

//--------
// ACTORS
//--------

.cell-actor-default {
    background-color: $blue;
    color: $yellow;
}

.cell-actor-animal {
    background-color: $brown;
    color: $white;
}

.cell-actor-avian {
    background-color: $sky-blue;
    color: $white;
}

.cell-actor-player {
    background-color: $green;
    color: $white;
}

.cell-actor-monster {
    background-color: $purple;
    color: $white;
};

.cell-actor-summoner {
    background-color: $yellow;
    color: $black;
};

.cell-actor-winter {
    background-color: darken($snow-white, 10%);
    color: $blue;
};

.cell-actor-void {
    background-color: $purple;
    color: $black;
};

.cell-actor-spirit {
    background-color: $purple;
    color: $white;
};

.cell-actor-shopkeeper {
    background-color: $red;
    color: $black;
}

.cell-actor-trainer {
    background-color: $red;
    color: $white;
}

.cell-actor-human {
    background-color: $blue;
    color: $yellow;
}

.cell-actor-dwarf {
    background-color: $blue;
    color: $yellow;
}

.cell-actor-wolfclan {
    background-color: $red;
    color: $black;
}

.cell-actor-catfolk {
    background-color: $yellow;
    color: $brown;
}

.cell-actor-bearfolk {
    background-color: $cyan;
    color: $brown;
}

.cell-actor-dogfolk {
    background-color: $azure;
    color: $brown;
}

.cell-actor-undead {
    background-color: $black;
    color: $white;
}

.cell-actor-goblin {
    background-color: darken($yellow, 20%);
    color: $blue;
}

.cell-actor-air {
    background-color: $silver;
    color: $blue;
}

.cell-actor-fire {
    background-color: $tangerine;
    color: $red;
}

.cell-actor-forcefield {
    background-color: $tangerine;
    color: lighten($blue, 10%);
}

.cell-actor-wildling {
    background-color: $wild-pink;
    color: $brown;
}

/* Generates using standard CSS color names for custom elements defined using
 * custom color and bg. Should be
 * used in JSON files when defining colors for custom items, actors and
 * elements.
 */
@each $color-fg in $css-color-names {
    @each $color-bg in $css-color-names {
        .cell-fg-#{to-lower-case('#{$color-fg}')}-bg-#{to-lower-case('#{$color-bg}')} {
            background-color: unquote(to-lower-case('#{$color-bg}'));
            color: unquote(to-lower-case('#{$color-fg}'));
        }
    }
}

/* Generates classNames for custom colors in the game. */
@each $color-fg in $css-color-names {
    @each $color-bg in $css-color-names {

        // Can't use custom color names, get them from the map
        $hex-value-fg: map-get($color-names-to-hex, $color-fg);
        $hex-value-bg: map-get($color-names-to-hex, $color-bg);

        .cell-fg-#{to-lower-case('#{$color-fg}')}-bg-#{to-lower-case('#{$color-bg}')} {
            background-color: $hex-value-bg;
            color: $hex-value-fg;
        }
    }
}

