
/* All color definitions for Battles. Use only these variables in other
 * stylesheets.*/

// Base colors
$black: #000;
$blue: #00f;
$brown: #a52a2a;
$cyan: #0ff;
$gray: #808080;
$green: #008000;
$purple: #800080;
$red: #f00;
$silver: #c0c0c0;
$snow-white: #fff;
$white: #fff;
$yellow: #ff0;;

$main-color: darken($snow-white, 10%);
$main-color-2: darken($main-color, 15%);
$main-color-3: darken($main-color-2, 15%);

$ctrl-top-color: darken($main-color, 10%);

$ruby-white: #111;
$ruby-red: #e11;

$wooden-color: lighten($brown, 10%);

$board-bg-color: rgba(255, 255, 255, 0.5);

$gold: darken($yellow, 10%);

$item-default-bg: $brown;

$color-dark-cell: #101010;

$shop-bg-color: darken($cyan, 30%);
