
/* All color definitions for Battles. Use only these variables in other
 * stylesheets.*/

// Base colors
$azure: #f0ffff;
$black: #000;
$blue: #00f;
$brown: #a52a2a;
$cyan: #0ff;
$gray: #808080;
$green: #008000;
$purple: #800080;
$red: #f00;
$silver: #c0c0c0;
$snow-white: #fff;
$tangerine: #fc0;
$white: #fff;
$yellow: #ff0;;

$main-color: darken($snow-white, 10%);
$main-color-2: darken($main-color, 15%);
$main-color-3: darken($main-color-2, 15%);

$ctrl-top-color: darken($main-color, 10%);

$ruby-white: #111;
$ruby-red: #e11;

$wooden-color: lighten($brown, 10%);

$board-bg-color: rgba(255, 255, 255, 0.5);

$gold: darken($yellow, 10%);

$item-default-bg: $brown;

$color-dark-cell: #101010;

$shop-bg-color: darken($cyan, 30%);

$ground-color: #a52a2a;
$wall-color: #f00;

$stone-color: #808080;
$dark-stone-color: darken($stone-color, 30%);

$floor-house-bg-color: lighten($brown, 30%);
$floor-bg-color: $stone-color;
$tree-color: lighten($green, 20%);

$door-color: #a52a2a;
$door-bg-color: $floor-bg-color;

$sky-blue: #7ec0ee;
