

.cell-damage-ACID {
    color: $green;
    background-color: $stone-color;
};

.cell-damage-BLUNT {
};

.cell-damage-COLD {
    color: $white;
    background-color: $stone-color;
};

.cell-damage-ENERGY {
    color: $cyan;
    background-color: $stone-color;
};

.cell-damage-FIRE {
    color: $red;
    background-color: $stone-color;
};

.cell-damage-HUNGER {
};

.cell-damage-ICE {
    color: $white;
    background-color: $stone-color;
};

.cell-damage-LIGHTNING {
    color: $yellow;
    background-color: $stone-color;
};

.cell-damage-MAGIC {
    color: $white;
    background-color: $purple;
};

.cell-damage-MELEE {
};

.cell-damage-MISSILE {
};

.cell-damage-NECRO {
    color: $black;
    background-color: $stone-color;
};

.cell-damage-PIERCE {
};

.cell-damage-POISON {
    color: $green;
    background-color: $stone-color;
};

.cell-damage-SLASH {
};

.cell-damage-VOID {
    color: $black;
    background-color: $purple;
};
