//----------------------
// Battles in the North
// ELEMENTS CSS
//----------------------

$ground-color: #a52a2a;
$wall-color: #f00;

$stone-color: #808080;
$dark-stone-color: darken($stone-color, 30%);

$floor-house-bg-color: lighten($brown, 30%);
$floor-bg-color: $stone-color;
$tree-color: lighten($green, 20%);

$door-color: #a52a2a;;
$door-bg-color: $floor-bg-color;

@mixin green-elem {
    background-color: $floor-bg-color;
    color: $tree-color;
}

.cell-elements {
    background-color: $purple;
    color: $white;
}

.cell-dark {
    background-color: $color-dark-cell;
}

.cell-not-explored {
    background-color: $black;
    color: $black;
};

.cell-element-door {
    background-color: $door-bg-color;
    color: $door-color;
}

.cell-element-exploration {
    background-color: $brown;
    color: $yellow;
}

.cell-element-floor {
    background-color: $floor-bg-color;
}

.cell-element-floor-house {
    background-color: $floor-house-bg-color;
}

.cell-element-floor-cave {
    background-color: $floor-bg-color;
}

.cell-element-floor-crypt {
    background-color: $black;
    color: $gray;
}

.cell-element-fort {
    background-color: $floor-bg-color;
    color: $black;
}


.cell-element-shop {
    background-color: $shop-bg-color;
    color: $white;
}

.cell-element-snow {
    background-color: $snow-white;
    color: $black;
};

//--------------
// WALL STYLES
//--------------

.cell-element-wall {
    background-color: $wall-color;
}

.cell-element-wall-cave {
    background-color: $black;
    color: $brown;
}

.cell-element-wall-crypt {
    background-color: $black;
    color: $gray;
}

.cell-element-wall-wooden {
    background-color: $floor-bg-color;
    color: $wooden-color;
}

.cell-element-wall-ice {
    background-color: $blue;
    color: $white;
};


.cell-element-water {
    background-color: $floor-bg-color;
    color: $blue;
};

.cell-element-tree {
    @include green-elem;
};

.cell-element-grass {
    @include green-elem;
};

.cell-element-stone {
    background-color: $ground-color;
    color: $stone-color;
};

.cell-element-highrock {
    background-color: $ground-color;
    color: $white;
}

.cell-element-stairs {
    background-color: $wall-color;
}

.cell-element-road {
    background-color: $floor-bg-color;
    //background-color: $white;
    color: $red;
}

.cell-element-chasm {
    background-color: $black;
    color: $gray;
}

.cell-element-bridge {
    background-color: $brown;
    color: $white;
}

.cell-element-passage {
    background-color: $floor-bg-color;
    color: $white;
}

