//----------------------
// Battles in the North
// ELEMENTS CSS
//----------------------

.cell-elements {
    color: white;
    background-color: purple;
}


.cell-dark {
    background-color: #101010;
}

.cell-not-explored {
    background-color: black;
    color: black;
};


.cell-element-door {
    color: brown;
    background-color: white;
}

.cell-element-floor {
    background-color: gray;
}

.cell-element-ice-wall {
    background-color: blue;
    color: white;
};

.cell-element-shop {
    color: white;
    background-color: darken(cyan, 30%);
}

.cell-element-snow {
    background-color: $snow-white;
    color: black;
};

.cell-element-wall {
    background-color: red;
}

.cell-element-water {
    background-color: white;
    color: blue;
};

.cell-element-tree {
    color: green;
};
