//----------------------
// Battles in the North
// ELEMENTS CSS
//----------------------

$ground-color: #a52a2a;
$wall-color: #f00;

$door-color: #a52a2a;;
$door-bg-color: white;

$floor-bg-color: gray;
$tree-color: lighten(green, 20%);

@mixin green-elem {
    background-color: $floor-bg-color;
    color: $tree-color;
}

.cell-elements {
    color: white;
    background-color: purple;
}

.cell-dark {
    background-color: #101010;
}

.cell-not-explored {
    background-color: black;
    color: black;
};

.cell-element-door {
    color: $door-color;
    background-color: $door-bg-color;
}

.cell-element-floor {
    background-color: $floor-bg-color;
}

.cell-element-ice-wall {
    background-color: blue;
    color: white;
};

.cell-element-shop {
    color: white;
    background-color: darken(cyan, 30%);
}

.cell-element-snow {
    background-color: $snow-white;
    color: black;
};

.cell-element-wall {
    background-color: $wall-color;
}

.cell-element-water {
    background-color: white;
    color: blue;
};

.cell-element-tree {
    @include green-elem;
};

.cell-element-grass {
    @include green-elem;
};

