//----------------------
// Battles in the North
// ITEMS
//----------------------

.cell-item-default {
    background-color: brown;
}

.cell-item-potion {
    background-color: white;
    color: purple;
};

.cell-item-armour {
    background-color: green;
    color: white;
};

.cell-item-food {
    background-color: yellow;
    color: black;
};

.cell-item-melee-weapon {
    background-color: blue;
    color: white;
};

.cell-item-missile {
    background-color: white;
    color: red;
};

.cell-item-leather {
    background-color: brown;
    color: white;
};

.cell-item-iron {
    background-color: Silver;
    color: white;
};

.cell-item-ruby-glass {
    background-color: $ruby-white;
    color: $ruby-red;
};

.cell-item-ice {
    background-color: darken($snow-white, 10%);
    color: blue;
};

.cell-item-magic {
    background-color: purple;
    color: white;
};

.cell-item-spiritgem {
    background-color: purple;
    color: white;
};

