//----------------------
// Battles in the North
// ITEMS
//----------------------

.cell-item-default {
    background-color: $item-default-bg;
}

.cell-item-potion {
    background-color: $white;
    color: $purple;
};

.cell-item-armour {
    background-color: $green;
    color: $white;
};

.cell-item-food {
    background-color: $yellow;
    color: $black;
};

.cell-item-melee-weapon {
    background-color: $blue;
    color: $white;
};

.cell-item-missile {
    background-color: $white;
    color: $red;
};

.cell-item-leather {
    background-color: $brown;
    color: $white;
};

.cell-item-wooden {
    background-color: $white;
    color: $brown;
};

.cell-item-iron {
    background-color: $silver;
    color: $white;
};

.cell-item-steel {
    background-color: $silver;
    color: $steel;
};

.cell-item-ruby-glass {
    background-color: $ruby-white;
    color: $ruby-red;
};

.cell-item-ice {
    background-color: darken($snow-white, 10%);
    color: $blue;
};

.cell-item-magic {
    background-color: $purple;
    color: $white;
};

.cell-item-spiritgem {
    background-color: $purple;
    color: $white;
};

.cell-item-gold-coin {
    background-color: $brown;
    color: $gold;
};

.cell-item-rock {
    background-color: $black;
    color: $gray;
};

.cell-item-rune {
    background-color: darken($gray, 20%);
    color: $red;
};

.cell-item-tool {
    background-color: $black;
    color: $brown;
};

.cell-item-cloth {
    background-color: $white;
    color: $brown;
};

.cell-item-void {
    background-color: $purple;
    color: $black;
};
