/**
 * Main style sheet (.scss) for Battles in the North roguelike game.
 * All partials are included by this sheet. gulp checks only this file.
 */

@import 'fonts';

$cell-width: 17px;
$cell-height: 17px;

$padding-stats: 10px;

$success-color-on-gray: #066;

@import 'colors';

@mixin fonts {
    font-family: 'Josefin Sans', sans-serif;
}

@mixin cell-font($size) {
    font-family: monospace;
    font-size: $size;
}

@mixin cell-font-map {
    font-family: monospace;
    font-size: 8px;
}

// Control panel theme
@mixin ctrl-panel {
    background-color: $ctrl-top-color;
    border: 1px solid $black;
    border-radius: 5px;
    padding: 10px;
}

@mixin menu-list-item {
    border: 1px solid $black;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 2px;
}

// Defines the main gradient for the background
@mixin gray-gradient {
    background: $main-color;
}

// Changes vertical list into a horizontal one
@mixin ver-to-hor-list {
    list-style-type: none;
    @media (max-width: 1090px) {
        li {
            display: inline;
            margin-right: 5px;
        }
    }
    @media (min-width: 1000px) {
        li {
            display: block;
        }
    }
}

body {
    @include fonts;
};

.container {
    margin: 0;
};

.mov-buttons-table {
    border: 1px solid $black;
    font-size: 16px;
    padding: 5px;
};

.select-label {
    width: 100px;
};

//------------------------------------------------------------------
// CELL StyleS
//------------------------------------------------------------------

@import 'actors';
@import 'elements';
@import 'items';

.cell-target-selected {
    background-color: $yellow;
    color: $black;
};

// Cells out of FOV
.cell-not-seen {
    filter: brightness(65%);
}

//---------------------------------------------------------------------
// MENUS
//---------------------------------------------------------------------

.mount-point {
    margin-top: 10px;
}

/* Game-play related messages. Naming is the same as in bootstrap. */
.game-messages {
    background-color: $black;
    border: 1px solid $black;
    color: $white;
    font-family: monospace;
    font-size: 16px;
    height: 60px;
    overflow: auto;
    padding-left: 5px;
    padding-top: 2px;

    .text-primary {
        color: $white;
    }

}

.btn-rg {
    margin-right: 5px;

};

.game-stats {
    @include ctrl-panel;
};

.game-stats-list {
    @include ver-to-hor-list;
};

ul {
    &.game-stats-list {
        padding-left: $padding-stats;
    }

    &.player-mode-list {
        padding-left: $padding-stats;
    }
}

.player-mode-list {
    @include ver-to-hor-list;
};

// -----------------------------------
// FONTSIZES for different board sizes
// -----------------------------------

.game-board-player-view-xl  {
    font-size: 24px;
};

.game-board-player-view {
    @include cell-font(16px);
};

.game-board-map-view {
    @include cell-font-map;
};

.game-board-map-view-xs {
    font-size: 6px;
};

.game-board-map-view-xxxs {
    font-size: 3px;
};

.game-board-map-view-xxxxs {
    font-size: 1px;
};

// Row styling for different board sizes


.cell-row-div-player-view {
};

.cell-row-div-map-view {
}

.cell-row-div-map-view-xxxs {
}

.game-board {
    font-family: monospace;
    line-height: 1.1;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;

    span {
        :hover {
            background-color: $board-bg-color;
            color: $black;
        }
    };
}

.game-board-div {
    .game-board-row {
        @media only screen and (max-width: 1090px) {
            display: inline-block;
        }
        zoom: 1;
    }
}

.game-editor-board-div {
    .game-board {
        cursor: pointer;
    }

    .game-board-row {
        display: block;
    }
}

.ctrl-bottom {
    @include ctrl-panel;
    margin-top: 10px;
}

.radio-buttons {
    button {
        margin-bottom: 5px;
        margin-right: 2px;
    }
};

.player-list-item {
    @include menu-list-item;
};

.game-overworld-map-pre {
    font-family: monospace;
    line-height: 1.1;
}

//---------------------------------------------------------------------
// GAME MENU (for player command selection)
//---------------------------------------------------------------------

.game-menu-text-span {
    background-color: $black;
    color: $yellow;
}

//---------------------------------------------------------------------
// HELP MENU
//---------------------------------------------------------------------

.help-info-buttons {
    font-size: 20px;
};

//---------------------------------------------------------------------
// INVENTORY
//---------------------------------------------------------------------

.inv-item-slot {
    @include menu-list-item;
};

.inv-equip-slot {
    @include menu-list-item;
};

.items-box {
    height: 400px;
    overflow: auto;
};

//------------------------------------------------------------------
// COMPONENT STYLING
//------------------------------------------------------------------

@import 'component.game-editor';


